<div class="card mb-4">
    <div class="card-header">
        Comments
    </div>
    <ul class="list-group list-group-flush">
        <% tweet.comments.forEach(comment => { %>
            <li class="list-group-item">
                <a href="/profile/<%= comment.author.id %>" class="text-white text-decoration-none"><img src="/user-profile.png" alt="User avatar" class="rounded-circle" style="width: 40px; height: 40px;"></a>
                <strong class="me-auto"><a href="/profile/<%= comment.author.id %>" class="text-white text-decoration-none"><%= comment.author.name %></a></strong>: <%= comment.content %>
                <small class="text-muted float-end"><%= comment.postedOn %></small>
            </li>
        <% }); %>
    </ul>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Add a comment</h5>
        <form method="post" action="/tweet/<%= tweet.id %>/comment">
            <div class="mb-3">
                <textarea class="form-control" name="content" rows="3" required placeholder="Write a comment..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post Comment</button>
        </form>
    </div>
</div>