<h3>Tweets</h3>
<ul>
    <% for (const tweet of tweets) { %>
        <li>
            <a href="/tweet/<%= tweet.id %>">
                <%= tweet.content %> <%= tweet.user_id %> (<%= tweet.likes %>)
            </a>
            &nbsp;
            <% if (!tweet.userLiked) { %>
                <form method="POST" action="/like-tweet/<%= tweet.id %>">
                    <button type="submit">Like</button>
                </form>
            <% } else { %>
                <form method="POST" action="/unlike-tweet/<%= tweet.id %>">
                    <button type="submit">Unlike</button>
                </form>
            <% } %>
        </li>
    <% } %>
</ul>