<div class="display-4"><%= tweet.content %></div>

<p class="lead text-muted"><img src="/user-profile.png" alt="User avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;">
    <%= tweet.author.name %> | <%= tweet.likesCount %> Like(s)
    <% if (tweet.retweet_id) { %>
        | Retweeted from <a href="/tweet/<%= tweet.retweet_id %>">this tweet</a>
    <% } %>
</p>

<div class="d-flex align-items-center gap-2 mb-3">
    <form method="POST" action="/retweet/<%= tweet.id %>">
        <button type="submit" class="btn btn-secondary"><i class="bi bi-arrow-90deg-up"></i> Retweet</button>
    </form>
    <% if (!tweet.userHasLiked(user.id)) { %>
        <form method="POST" action="/like-tweet/<%= tweet.id %>">
            <button type="submit" class="btn btn-primary">Like <i class="bi bi-heart"></i></button>
        </form>
    <% } else { %>
        <form method="POST" action="/unlike-tweet/<%= tweet.id %>">
            <button type="submit" class="btn btn-secondary">Unlike <i class="bi bi-heart-fill"></i></button>
        </form>
    <% } %>
    <% if (tweet.user_id === user.id) { %>
        <a href="/remove-tweet/<%= tweet.id %>" class="btn btn-danger">Remove <i class="bi bi-trash"></i></a>
    <% } %>
</div>
<p class="mb-0">Posted on: <span class="text-muted"><%= tweet.postedOn %></span></p>
<p>Retweets: <span class="text-muted">Number</span> | Comments: <span class="text-muted"><%= tweet.comments.length %></span></p>

<% if (tweet.user_id === user.id) { %>
    <hr>
    <form method="post" action="/update-tweet/<%= tweet.id %>" class="mb-4">
        <h2>Update tweet</h2>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <input type="text" class="form-control" id="content" name="content" placeholder="Tweet" value="<%= data.content ? data.content : tweet.content %>">
            <% if (errors.content) { %>
                <p style="color: red;"><%= errors.content %></p>
            <% } %>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
<% } %>

<%- include('./_tweet-comments', tweet) %>