<h1><%= tweet.content %></h1>
<p><%= tweet.author.name %> | (<%= tweet.likesCount %>)</p>

<% if (user && !tweet.userHasLiked(user.id)) { %>
    <form method="POST" action="/like-tweet/<%= tweet.id %>">
        <button type="submit">Like</button>
    </form>
<% } else { %>
    <form method="POST" action="/unlike-tweet/<%= tweet.id %>">
        <button type="submit">Unlike</button>
    </form>
<% } %>

<a href="/remove-tweet/<%= tweet.id %>">
    remove
</a>