<h4>Tweets of your followers</h4>

<% for (const tweet of tweets) { %>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex align-items-center mb-2">
                <a href="/profile/<%= tweet.author.id %>" class="text-white text-decoration-none"><img src="/user-profile.png" alt="User avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;"></a>
                <strong class="me-auto"><a href="/profile/<%= tweet.author.id %>" class="text-white text-decoration-none"><%= tweet.author.name %></a></strong>
                <small class="text-muted">X mins ago</small>
            </div>
            <a href="/tweet/<%= tweet.id %>" class="text-white text-decoration-none">
                <p class="card-text"><%= tweet.content %></p>
            </a>
            <div class="d-flex align-items-center">
                <form method="POST" action="/retweet/<%= tweet.id %>" class="me-2">
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="bi bi-arrow-90deg-up"></i></button>
                </form>
                <% if (!tweet.userHasLiked(user.id)) { %>
                    <form method="POST" action="/like-tweet/<%= tweet.id %>" class="me-2">
                        <button type="submit" class="btn btn-sm btn-outline-primary"><i class="bi bi-heart"></i></button>
                    </form>
                <% } else { %>
                    <form method="POST" action="/unlike-tweet/<%= tweet.id %>" class="me-2">
                        <button type="submit" class="btn btn-sm btn-secondary"><i class="bi bi-heart-fill"></i></button>
                    </form>
                <% } %>
                <span class="text-muted"><%= tweet.likesCount %> like(s)</span>
            </div>
        </div>
        <% if (tweet.retweet_id) { %>
            <div class="card-footer">
                Retweeted from <a href="/tweet/<%= tweet.retweet_id %>">this tweet</a>
            </div>
        <% } %>
    </div>
<% } %>