<h3>Tweets</h3>
<ul>
    <% for (const tweet of tweets) { %>
        <li>
            <a href="/tweet/<%= tweet.id %>">
                <%= tweet.content %> <%= tweet.author.name %> (<%= tweet.likesCount %>)
            </a>
            &nbsp;
            <% if (!tweet.userHasLiked(user.id)) { %>
                <form method="POST" action="/like-tweet/<%= tweet.id %>">
                    <button type="submit">Like</button>
                </form>
            <% } else { %>
                <form method="POST" action="/unlike-tweet/<%= tweet.id %>">
                    <button type="submit">Unlike</button>
                </form>
            <% } %>
        </li>
    <% } %>
</ul>